.public{
    background-color: black;
    color: #C0BFBD;
    padding: 10px;
    width: 10%;
}
.menu{
    margin: 50px 0;
}
.login-data{
    display:flex;
    margin: 40px;
    align-items: center;   
}
.login-data > img {
    margin-right: 5px;
}
.exit-menu {
    margin: 50px 0 10px;
}
.login-data > div{
    display: none;
}
.mode_lun{
    display: none;
}  

#lun{
    background: #424444;
    width: 40px;
    text-align: end;
    border-radius: 20px;
    margin-left: 5px;
    display: block;
}
#lun > img{
    margin: 1px;
    background: #1E2020;
    border-radius: 20px;
}
.public:hover{
    width: 20%;
}
.login-data:hover {
    background-color: #424444;
    padding: 10px;
    border-radius: 10px;    
}
.public:hover .login-data > div , .public:hover .mode_lun {
    display: block;
}
